.btn {
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-radius: 7px;
  font-weight: bold;
  background: transparent;
  padding: 12px 20px 12px 20px;
  font-size: 13px;
  color: #fff;
  transition: all 0.3s ease;
  cursor: pointer;

  svg {
    margin-right: 10px;
    font-size: 13px;
  }

  &:disabled,
  &[disabled] {
    background-color: #cccccc;
    color: #666666;
  }
}

.btn-green {
  background-color: $main-green;

  &:hover,
  &:active,
  &:focus {
    opacity: 0.8;
  }
}
