.cart-wrapper {
  min-height: calc(100vh - 163px);
  margin: 93px 0;

  .cart-title {
    text-align: center;
    font-size: 20px;
    padding: 20px 0 5px;
  }

  .cart-list {
    padding: 0 10px;
    height: 100%;

    @include mediumLarge {
      max-width: 700px;
      margin: 0 auto;
    }
  }

  .cart-list__loading {
    margin-top: 150px;
    text-align: center;
  }
}
