.footer {
  background-color: $light-green;
  padding: 15px 20px;
  position: fixed;
  bottom: 0;
  width: 100%;

  .footer-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .total-price {
      color: $main-black;
      font-weight: bold;
    }
  }
}
