.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 0;
  background-color: $main-green;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-flow: column;

  .title {
    color: #fff;
    font-size: 16px;
    margin: 5px 0;
  }

  .main-logo {
    height: 40px;
    fill: #fff;
  }
}
