@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");

@import "styles/common/common";
@import "styles/components/components";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #000;
}

ul {
  list-style: none;
}

.container {
  padding: 0 10px;
  margin: 0 auto;

  @include medium {
    max-width: 574px;
  }

  @include mediumLarge {
    max-width: 768px;
  }
}
